@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GitHub User Search</h1>
    <p class="lead">A .NET application for searching GitHub users via the OctoKit API.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
